<app-header
  [title]="'親から渡したタイトル'"
  (clickAction)="testAlert($event)"
></app-header>

<div *ngIf="comments$ | async as result">
  <p *ngFor="let comment of result.docs">
    <span>{{ comment.body }}</span>
    <span>{{ comment.createdAt.toDate() | date: 'yyyy/MM/dd HH:mm:ss' }}</span>
  </p>
  <button *ngIf="!(moreItems$ | async)" (click)="getMore(result.lastDoc)">
    もっと見る
  </button>
</div>

<div *ngIf="moreItems$ | async as result">
  <p *ngFor="let comment of result.docs">
    <span>{{ comment.body }}</span>
    <span>{{ comment.createdAt.toDate() | date: 'yyyy/MM/dd HH:mm:ss' }}</span>
  </p>
</div>

<router-outlet></router-outlet>

<app-footer></app-footer>
