
<h1 matDialogTitle>ログイン</h1>

<mat-dialog-content>
  <p>Googleアカウントでログインしてください。</p>

  <p>メールログインの場合はこちら</p>
  <mat-form-field>
    <input type="email" matInput [formControl]="emailControl" autocomplete="email" required>
  </mat-form-field>
  <button [disabled]="emailControl.invalid" (click)="loginWithEmail(emailControl.value)" mat-raised-button color="primary">メールログイン</button>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button matDialogClose>キャンセル</button>
  <button color="primary" (click)="login()" mat-raised-button mat-button>ログイン</button>
</mat-dialog-actions>
